
*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
body{
	background: url(../images/pawbg.jpg);
}
.navbar ul li:hover {
	background: #d8ab8b;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.slider {
	position: relative;
}
.un_slider {
	position: absolute;
	top: 0;
	left: 15px;
	width: 100%;
}
.un_slider p, .download_button{
	color: #fff;
}	
.un_slider .title_head{
	font-size: 2.25rem;
	text-transform: uppercase;
	padding: 0 0 2.5rem;
	margin: 0;
}
.un_slider .title_head:after{
	content: "";
	display: block;
	width: 4.7rem;
	height: 2.2rem;
	border-bottom: solid 2px #fff;
}
.un_slider .text{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #fff;
	font-weight: 300;
	padding: 0 0 4rem;
}
.un_slider .download_button{
	width: 135px;
	height: 45px;
	border: solid 2px #fff;
	line-height: 1.5;
}

.form_registry {
	width: 100%;
	border: 1px solid pink;
	border-radius: 5px;
	margin: 10px auto;
	background: #f1e3d1;
}
.form_registry .form_title {
	color: #333333;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2.75;
	background-color: #f5f5f5;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.form_registry span{
	color: #ff8b38;
	text-transform: uppercase;
}
.form_registry p {
	text-align: center;
	margin: 0;
}
.u_info {
	font-size: 0.875rem;
	font-family: "Roboto";
	font-weight: 500;
	width: 80%;
	margin: 1.875rem auto 0.625rem;
	padding: 0.625rem 0.9rem;
	border: none;
	border-bottom: 1px solid #d6d6d6;
}
.u_info [placeholder] {
	color: #bdbdbd;
}
.form_registry .button_form{
	width: 100%;
	height: 3.375rem;
	background-color: #d8ab8b;
	border: none;
	font-size: 1.5rem;
	color: #ffffff;
	font-weight: 700;
	margin-top: 2rem;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
}
.u_info:focus{
	outline: none;
}
.social {
	background: #f1e3d1;
}
.social .soc_title{
	font-size: 1.25rem;
	color: #0f1f2d;;
}
.social .soc_text{
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #86878b;
	font-weight: 300;
	margin: 0;
}
.tabs{
  background-color:#fff;
  padding-top:30px;
  padding-bottom:30px;
}
.tabs .tab-pane{
  margin-left:20px;
}
.tabs h3{
  font-size:1.5rem;
  margin-top:10px;
  margin-bottom:60px;
}
.tabs p{
  font-size:14px;
}
.tabs a{
  font-size:15px;
  font-family:OpenSans,sans-serif;
  font-weight:700;
  color:#fff;
  padding:30px 0;
}
.tabs li{
  background-color:#333;
  margin-top:1px;
  text-align:center;
  height:110px;
  width:110px;
  padding-top:45px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.tabs li.active{
  background-color:#ff8b38;
}

.section1 {
	background: #f1e3d1;
	padding-top: 110px;
	padding-bottom: 100px;
}
.section2 {
	background: #fff;
	padding-top: 110px;
	padding-bottom: 80px;
}

section img {
	box-shadow: 0.5px 0.866px 9px rgba(0,0,0,0.75);
}

.section1, .section2 {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #0f1f2d;
	font-weight: 500;
	text-align: justify;
}

.title_sect {
	font-size: 1.5rem;
	/*line-height: 43px;*/
	color: #0f1f2d;
	font-weight: 500;
}
.section1 h4 {
	font-size: 1.125rem;
}
.section2 p{
	color: #86878b;
}
.divider {
	width: 65px;
	height: 2px;
	background: #ff8b38;
	margin: 15px 0;
}
.section3 {
	background: #2a3947;
}
.section3 h2, .section4 h2 {
	font-size: 2.25rem;
	color: #f1e3d1;
	font-weight: 500;
}
.section3 .form1 input[placeholder] {
	font-size: 0.8rem;
	color: #b8b2a7;
	text-overflow:ellipsis;
}
.order_button {
	background-color: #d8ab8b;
	font-size: 1.5rem;
	line-height: 1.5;
}
.order_button:hover {
	color: #d8ab8b;
}
.section4 {
	background: #fff;
}
.section4 h2 {
	color: #0f1f2d;
}
.section4 p {
	font-size: 0.875rem;
	line-height: 1.5;
	color: #2a3947;
	font-family: "Roboto";
}
.section4 .form2 input[placeholder],
.section4 .form2 textarea[placeholder] {
	font-size: 0.8rem;
	color: #b8b2a7;
	text-overflow:ellipsis;
}
.section4 .form2 input, .section4 .form2 textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	margin-top: 1.5rem;
	border-radius: 0;
}
.form2 textarea {
	padding-bottom: 0;
}
.form2 .send_button{
	background: #402720;
	font-size: 0.94rem;
	line-height: 2;
	color: #fff;
	font-weight: 500;
}
.footer {
	background: #f1e3d1;
}
.footer .copyright {
	font-size: 1.5rem;
	color: #b8b2a7;
	font-weight: 500;
}
.fb, .tw, .gplus, .pin, .insta, .stumble, .feed{
	cursor: pointer;
	line-height: 2;
	background: url(../images/noActive1.png) no-repeat 50% 50%;
	background-size: contain;
}
.fb:hover{
	background: url(../images/Active1.png) no-repeat 50% 50%;
	background-size: contain;
}
.tw{
	background: url(../images/noActive2.png) no-repeat 50% 50%;
	background-size: contain;
	
}
.tw:hover{
	background: url(../images/Active2.png) no-repeat 50% 50%;
	background-size: contain;
}
.gplus{
	background: url(../images/noActive3.png) no-repeat 50% 50%;
	background-size: contain;
}
.gplus:hover{
	background: url(../images/Active3.png) no-repeat 50% 50%;
	background-size: contain;
}
.pin{
	background: url(../images/noActive4.png) no-repeat 50% 50%;
	background-size: contain;
}
.pin:hover{
	background: url(../images/Active4.png) no-repeat 50% 50%;
	background-size: contain;
}
.insta{
	background: url(../images/noActive5.png) no-repeat 50% 50%;
	background-size: contain;
}
.insta:hover{
	background: url(../images/Active5.png) no-repeat 50% 50%;
	background-size: contain;
}
.stumble{
	background: url(../images/noActive6.png) no-repeat 50% 50%;
	background-size: contain;
}
.stumble:hover{
	background: url(../images/Active6.png) no-repeat 50% 50%;
	background-size: contain;
}
.feed{
	background: url(../images/noActive7.png) no-repeat 50% 50%;
	background-size: contain;
}
.feed:hover{
	background: url(../images/Active7.png) no-repeat 50% 50%;
	background-size: contain;
}
.social a:hover, .footer a:hover{
	text-decoration: none;
}


@media only screen and (max-width: 575.98px) { 
	.un_slider .title_head{
		font-size: 1.5rem;
		text-transform: uppercase;
		padding: 0 3.5rem 1.5rem;
		margin: 0;
	}
	.un_slider .title_head:after{
		content: "";
		display: block;
		width: 4.7rem;
		height: 1.5rem;
		border-bottom: solid 2px #fff;
	}
	.un_slider .text{
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 300;
		padding: 0 3.5rem 1.5rem;
	}
	.logo_big {
		padding-left: 3.5rem;
	}
}
/*// Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.un_slider .title_head{
		font-size: 1.5rem;
		text-transform: uppercase;
		padding: 0 0 1rem;
		margin: 0;
	}
	.un_slider .title_head:after{
		content: "";
		display: block;
		width: 4.7rem;
		height: 1.5rem;
		border-bottom: solid 2px #fff;
	}
	.un_slider .text{
		font-size: 1rem;
		/*line-height: 1.5rem;*/
		font-weight: 300;
		padding: 0 0 1rem;
	}
	.logo_big img {
		width: 50%;
	}
}
